
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url(./portfolio-resources-main/images/developer.png), url('./portfolio-resources-main/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav ul{
    display: flex;
    align-items: center;
}


.btn-primary{
    background-color: tomato;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.top-banner{
    font-size: 45px;
    font-weight: 600;
    color: rgb(82, 81, 80);
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-dp{
    font-size: 18px;
}
.banner-pic{
    width: 580px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(77, 77, 77);
}
#text{
    color: tomato;
}

.section-dp{
    font-size: 18px;
    color: black;
}

.section-title{
    font-size: 35px;
    font-weight:bold ;
    color: rgb(78, 75, 75);
}
.secandary-bg{
    background-color: rgb(240, 231, 231);
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-dp{

    font-weight: 600;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{

    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(219, 216, 216);
    border-radius: 5px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.resume-container{
    display: flex;
    gap: 24px;
   text-align: left;
}
.exp-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.exp-dp, .exp-sub-title{
    color: rgb(121, 117, 117);
}

.resume hr{
    margin: 30px;
}
.resume-cv{
    margin-top:50px ;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: antiquewhite;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

footer textarea{
    height: 200px;
    width: 200px;
}

.hide{
    display: none;
}


@media screen and (max-width:576px) {
    .skills-container{
        flex-direction: column;
    }
    .resume-container, footer{
        flex-direction: column;
    }
    .about-items{
        flex-direction: column;
        align-items: center;
    }
    .section-dp{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    footer{
        padding: 20px;
    }
    .footer-column{
        width: 100%;

    }

    input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100%-40px);
    }
    nav{
        flex-direction: column;
    }
    ul,.banner{
        flex-direction: column;
        align-items: center;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-right: 150px;

    }
    .btn-primary{
        margin-top: 20px;
    }
    .banner-pic{
        padding-right: 150px;
    }

}